.container-gral{
    padding: 40px 0px;
}
.subtitulo-catalogo{
    padding-bottom: 60px;
}
.container_datos_tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container_btn_tarjeta{
    display: flex;
    justify-content: center;
}
.container_btn_tarjeta a{
    text-decoration: none; 
    padding: 10px;
    text-align: center;
    color:#ffff ;
    font-weight: 700;
    background-color: #A7C5F8;
    border: #A7C5F8;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px; 
}

.container_btn_tarjeta a:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.tarjeta-producto {
   width: 300px;
    height: 400px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #f9f9f9; 
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*.tarjeta-producto:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
*/
.tarjeta-producto img {
    width: 90%; 
    height: auto;
    border-bottom: 2px solid #ddd; 
}

.tarjeta-producto h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 0.5rem 0;
}

.tarjeta-producto p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
    
}

.subtitulo-catalogo {
    text-align: center;
}

.subtitulo-catalogo h1, .subtitulo-catalogo h2 {
    margin: 0; 
    font-weight: bold;
}

.subtitulo-catalogo h1 {
    font-size: 2rem; 
    color: #333; 
}

.subtitulo-catalogo h2 {
    font-size: 1.5rem; 
    color: #555; 
}


.tarjeta-link {
    text-decoration: none; 
    color: inherit; 
    display: inline-block; 
   
}

.tarjeta-link:hover .tarjeta-producto {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}


/* Estilo para pantallas grandes */
@media (min-width: 1025px) {
    .container_tarjetas{
        
       
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

/* Estilo para tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
    .container_tarjetas{
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        gap: 20px;
    }
    

}

/* Estilo mobile*/
@media (max-width: 767px) {
    .container_tarjetas{
        
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
