
.container-finalizar-compra{
    display: flex;
    padding: 40px 0px;
    
}
.container-form-factura{
    width: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-factura form{
    width: 70%;
}

.container-tabla-carrito{
    width: 50%;
   
    
}

.container-tabla-carrito{
    padding-right: 20px;
}

.container-btn-finalizar-compra {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
   
    
}


@media (min-width: 1025px){
   
}


@media (min-width: 768px) and (max-width: 1024px){
   
}


@media (max-width: 767px){

    .container-form-factura{
        width: 90%;
       
        
    }
   .container-finalizar-compra{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .container-form-factura form{
    width: 100%;
    }
    .container-tabla-carrito{
        width: 90%;
       
        
    }
}