.navbar-custom {
    background-color: #f8f6ee;
}

.bg-nav2 {
    background-color: #e1fcad;
}

.logo {
    width: 62x;
    height: 62px;
}
/*
.navbar-brand {
    height: 50px;
    display: flex;
}

.navbar-toggler {
    width: 200px;
}

.navbar-custom .btn,
.navbar-custom .form-control {
    padding: 4px 8px;
    margin: 0;
}

.btn {
    white-space: nowrap; // Evita que el texto se divida en varias líneas 
    padding: 5px 12px; // Ajusta el espacio interno si es necesario 
    font-size: 18px; // Opcional: ajusta el tamaño del texto 
}

// Estilo para pantallas grandes 
@media (min-width: 768px) {
    #menuArticulos {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    #menuArticulos ul li {
        font-size: 13px;
        font-weight: bold;
    }

    .navbar-toggler {
        display: none; // Ocultar el botón de colapso 
    }

    .nav-link {
        padding: 0.5rem 1rem; // Ajustar el padding de los enlaces 
    }
}
*/

@media (max-width: 620px) {
    #menuArticulos {
        display: none !important;
    }
}

@media (min-width: 620px) {
    #linksAdicionales {
        display: none !important;
    }
}
