body{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.logo img{
    max-width: 100px;
    height: auto;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("/images/carpa.svg");
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 35vh; /* Ocupa un cuarto de la altura de la pantalla */
    display: flex; /* Permite centrar contenido interno */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto internamente */
    color: white;
}

.banner img{
    display: none;
}

.articulos{
    background-color: #abdba3;
}


.imagen-carta img{
    max-width: 200px;
    height: auto;
}

.tarjeta-icono img{
    max-width: 200px;
    height: auto;
}

.navbar-toggler {
    width: 200px; /* Ajusta el ancho según lo que necesites */
}

.footer {
    background-color: #343a40; /* Color oscuro */
    color: #f8f9fa; /* Texto claro */
}

.footer a {
    color: #f8f9fa; /* Mantener enlaces visibles */
    text-decoration: none;
}

.footer a:hover {
    color: #adb5bd; /* Enlaces en hover */
}

.footer .social-icons a {
    font-size: 1.5rem;
    margin: 0 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}