body{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.navbar-custom {
    background-color: #5a2c0c; 
}

.logo img{
    max-width: 100px;
    height: auto;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("/images/carpa.svg");
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 35vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    color: white;
}

.banner img{
    display: none;
}

.articulos{
    background-color: #abdba3;
}

/*
.imagen-carta img{
    max-width: 200px;
    height: auto;
}
*/

.tarjeta-icono img{
    max-width: 200px;
    height: auto;
}

.navbar-toggler {
    width: 200px; 
}

.footer {
    background-color: #343a40;
    color: #f8f9fa; 
}

.footer a {
    color: #f8f9fa; 
    text-decoration: none;
}

.footer a:hover {
    color: #adb5bd;
}

.footer .social-icons a {
    font-size: 1.5rem;
    margin: 0 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.medios-de-pago {
    background-color: #f9f9f9;
    padding: 2rem 0;
    border-radius: 8px;
}

.carta {
    background-color: white;
    max-width: 250px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.carta:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.imagen-carta i {
    transition: color 0.2s ease;
}

.carta:hover .imagen-carta i {
    color: #007b55; /* Cambiar a un verde más oscuro en hover */
}

.medios-de-envio {
    background-color: #f9f9f9;
    border-radius: 8px;
}

.contacto {
    background-color: #f9f9f9;
    border-radius: 8px;
}

.btn {
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
}

.btn-outline-warning:hover {
    background-color: #ffc107;
    color: #fff;
    border-color: #ffc107;
}