.trabajaConNosotros {
    background-image: linear-gradient(
            rgba(166, 196, 247, 0.37),
            rgb(171, 214, 255)
        ),
        url("../images/trabajaConNosotros/fondo.svg");
    background-size: cover;
    background-position: center;
    height: 392px;
    overflow: hidden;
}

/* Cambiar color de fondo de los campos de entrada */
.color-fondo {
    background-color: #509ee2;
    border-radius: 15px;
}

/* Cambiar color del placeholder */
.form-control::placeholder {
    color: #ffffff;
}

/* Cambiar color del texto en el campo select */
#puesto_interes {
    color: #ffffff;
}

/* Cambiar color del texto en el campo de fecha */
#fecha_nacimiento {
    color: #ffffff;
}

.custom-file-upload {
    width: 100%;
    height: 55px;
    background-color: #509ee2;
    border-radius: 15px;
    cursor: pointer;
    padding: 30px 10px;
}

/* Ocultar el input original */
.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload label {
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding-left: 10px;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.tamanio {
    font-size: 30px;
}

.boton-enviar {
    padding: 15px 70px;
}

.negrita {
    font-size: 1.2rem;
    color: #000102;
}

.sinMargen {
    margin: 0px !important;
}

.color-fondo:hover {
    background-color: #0056b3;
    color: white;
}

.cv {
    position: relative;
    overflow: hidden;
    background-color: #509ee2;
    color: white;
    width: 100%;
    font-size: 25px;
}

.cv:hover {
    background-color: #3376b1;
    color: white;
}

.cv input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
