.trabajaConNosotros {
    background-image: linear-gradient(
            rgba(166, 196, 247, 0.37),
            rgb(171, 214, 255)
        ),
        url("../images/trabajaConNosotros/fondo.svg");
    background-size: cover;
    background-position: center;
    height: 45vh;
    overflow: hidden;
}

/* Cambiar color de fondo de los campos de entrada */
.color-fondo {
    background-color: #509ee2; /* Color de fondo personalizado */
    border-radius: 15px; /* Opcional: agregar bordes redondeados */
  }
  
  /* Cambiar color del placeholder */
  .form-control::placeholder {
    color: #ffffff; /* Color del placeholder */
  }
  
/* Cambiar color del texto en el campo select */
#puesto_interes {
    color: #ffffff; /* Color del texto */
  }
  
  /* Cambiar color del texto en el campo de fecha */
  #fecha_nacimiento {
    color: #ffffff; /* Color del texto */
  }

   .custom-file-upload {
    width: 100%;
    height: 55px;
    background-color: #509ee2;
    border-radius: 15px;
    cursor: pointer;
    padding: 30px 10px;
  }

  /* Ocultar el input original */
  .custom-file-upload input[type="file"] {
    display: none;
  }

  .custom-file-upload label {
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding-left: 10px;
  }

  /* Efecto al pasar el mouse sobre el botón */
  .custom-file-upload:hover {
    background-color: #0056b3;
  }

  .tamanio{
    font-size: 30px;
  }

  .boton-enviar{
    padding: 15px 70px;
  }