.imagen-principal img {
    width: 100%;
    height: auto;
}

.imagenes-chicas img{
    width: 100px;
    height: auto;
}

.tarjetas-chicas img{
    width: 30px;
    height: auto;
}

.datos{
    max-width: 500px;
}

.datos button{
    background-color:rgb(155, 123, 192);
    color: white;
}

.margenes{
    margin-top: 60px;
    margin-bottom: 100px;
}

.color-cuotas{
    color: rgb(123, 137, 168);
}

